@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  body {
    @apply font-montserrat bg-[#0d0321] text-white;
  }
}
.layout-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  line-height: 1.5 !important;
}
.text-desc {
  @apply opacity-[0.72];
}
.text-animation {
  margin: 20px 0;
}
.text-animation-letter {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
  font-size: 100px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.text-animation-letter:nth-child(5n + 1) {
  stroke: #ff6bcb;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text-animation-letter:nth-child(5n + 2) {
  stroke: #ffb86c;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text-animation-letter:nth-child(5n + 3) {
  stroke: #fff;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text-animation-letter:nth-child(5n + 4) {
  stroke: #2cccff;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text-animation-letter:nth-child(5n + 5) {
  stroke: #20e3b2;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
